.table-container {
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
  
  /* Form Container */
.form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
  }
  
  /* Form Headings */
  .form h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
  }
  
  /* Input Fields */
  .form input[type="text"],
  .form input[type="number"],
  .form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* Focus State for Input Fields */
  .form input[type="text"]:focus,
  .form input[type="number"]:focus,
  .form select:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
  }
  
  .form button {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }

  .table button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  .table button:hover,
  .form button:hover {
    background-color: rgb(55, 50, 50);
  }

  /* Actions Column Styles */
.actions-column {
    text-align: center;
  }

  /* Responsive Design */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .table th,
    .table td {
      padding: 6px;
    }
    
    .table input[type="text"],
    .table input[type="number"] {
      padding: 3px;
    }
    
    .form button,
    .table button {
      padding: 8px 16px;
    }
  }
  